<section>
    <div class="panel panel-heading">
        <div>
            <header>
                <div><strong>E-SITE</strong></div>
                <div class="pull-right">
                     <a href="#!">ABOUT US</a> |
                     <a href="#!">CONTACT</a>
                </div>
            </header>
        </div>
    </div>
    <div class="panel panel-body" (window:resize)="onResize($event)" [style.height]="calculateHeight()+'%'">
        <div>
            <app-signup></app-signup>
        </div>
    </div>
    <div class="footer">       
        <div>
            <a href="#!">ABOUT US</a> |
            <a href="#!">CONTACT</a>
        </div>       
    </div>
</section>