<section>
    <div class="panel panel-heading">
        <div>
            <header>
                <div><strong>E-SITE</strong></div>
                <div class="pull-right">
                     <a href="#!">ABOUT US</a> |
                     <a href="#!">CONTACT</a>
                </div>
            </header>
        </div>
    </div>
    <div class="panel panel-body">
        <div>
         <app-signup></app-signup>
        </div>
    </div>
    <div class="footer">
        <footer>
            <div>
                <a href="#!">ABOUT US</a> |
                <a href="#!">CONTACT</a>
            </div>
        </footer>
    </div>
</section>