.login-control > div {
    padding-bottom: 15px;
}

.login-control div > input {
    width: 50%;
    border-radius: 5px;
}

/*.login-control:first-child > div:nth-child(2) > input,
.login-control:first-child > div:nth-child(2) > div.error-text,
.login-control:first-child > div:nth-child(2) > div.warning-text {
    display: inline-block;
}*/

.error-text {
    color: red;
}

.error-text  a {
   cursor: pointer;
}
.warning-text {
    color: orange;
}

span.glyphicon {
    color: orange;
}

.error {
    border: 2px solid red;
}

.warning {
    border: 2px solid orange;
}
.btn[disabled] {
    background: #d0d0d0;
    cursor: text;
    border: none;
}


@media screen and (min-width: 991px) and (max-width: 1600px){
    .login-control > div.right-aligned {
        text-align: right;
    }
    .login-control:nth-child(3) > div > input {
        width: auto;
    }
    .login-control > div.center-aligned {
        text-align: center;
    }
    .login-control:first-child > div:nth-child(2) > input,
    .login-control:first-child > div:nth-child(2) > div.error-text,
    .login-control:first-child > div:nth-child(2) > div.warning-text {
        display: inline-block;
    }
}

@media screen and (min-width: 265px) and (max-width: 990px){
    .login-control > div {
        text-align: center;
    }
    .login-control:nth-child(3) > div > input {
        width: auto;
    }
    .error-text,.warning-text {
        margin-top: 10px;
    }
}