
<div class="login-control">
  <div class="col-md-4 col-sm-12 right-aligned">
    <strong><i>UserName:</i></strong>
  </div>
  <div class="col-md-8 col-sm-12">
    <input #user type="text" [ngClass]="{'error':!valid,'warning':emptyUserName}"  
    (keyup)="enableButton($event)" [(ngModel)]="userName" placeholder="user@example.com"/>
    <div [ngClass]="{'error-text':!valid,'warning-text':emptyUserName}" *ngIf="!valid || emptyUserName">
       <img *ngIf="!valid" [src]="img" alt="Error displaying the error icon"/>
      <span *ngIf="emptyUserName" class="glyphicon glyphicon-exclamation-sign"></span>
      <i>{{validEmail}}<a *ngIf="hyperlink" (click)="populateUserName()">{{hyperlink}}</a></i>
    </div>
  </div>
</div>
<div class="login-control">
  <div class="col-md-4 col-sm-12 right-aligned">
    <strong><i>Password:</i></strong>
  </div>
  <div class="col-md-8 col-sm-12">
    <input #pwd type="password"  (keyup)="enableButton($event)" [(ngModel)]="password"/>
  </div>
</div>
<div class="login-control col-sm-12 col-xs-12">
  <div class="center-aligned">
    <input type="checkbox"/> Keep me signed in
  </div>
</div>
<div class="login-control">
  <div class="center-aligned">
    <a href="#!">Forgot Password</a> |
    <a href="#!">New Registration</a>
  </div>
</div>
<div class="text-center">
  <button class="btn btn-primary btn-lg" (click)="checkIfUsernameIsValid()"  [disabled]="isButtonDisable">Submit</button>
</div>
